<p id="notice"><%= notice %></p>

<h1>Repertoires</h1>

<table>
  <thead>
    <tr>
      <th>Composer</th>
      <th>Title</th>
      <th>Date performed</th>
      <th>Ensemble performed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repertoires.each do |repertoire| %>
      <tr>
        <td><%= repertoire.composer %></td>
        <td><%= repertoire.title %></td>
        <td><%= repertoire.date_performed %></td>
        <td><%= repertoire.ensemble_performed %></td>
        <td><%= link_to 'Show', repertoire %></td>
        <td><%= link_to 'Edit', edit_repertoire_path(repertoire) %></td>
        <td><%= link_to 'Destroy', repertoire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repertoire', new_repertoire_path %>
